<article class="col-sm-12 collection">
  <div class="col-sm-1 rank">{{data.rank}}</div>
  <header class="col-sm-11">
    <h2> {{data.title}} </h2>
    <span class="actions"> <a href=""><i class="fa fa-star-o fa-lg"></i></a> <a href=""><i class="fa fa-copy fa-lg"></i></a></span>
    <span class="description">{{data.description}}</span>
    <ul class="list-inline tags">
      <!-- <li><span class="badge">javascript</span></li> -->
      <!-- <li><span class="badge">angularjs</span></li> -->
      <!-- <li><span class="badge">directives</span></li> -->
      <!-- <li><span class="badge">tutorial</span></li> -->
    </ul>
  </header>
  <section>
  </section>
</article>