<div class="col-sm-2 nav-container" ng-controller="NavbarCtrl">
  <div class="sidebar-nav">
    <div class="navbar navbar-curates" role="navigation">
      <div class="nav-splash"></div>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand">C</span>
      </div>
      <div class="navbar-collapse collapse sidebar-navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a ui-sref="main">Browse</a></li>
          <li ng-show="!isLoggedIn()"><a ui-sref="login">Log In</a></li>
          <li ng-show="isLoggedIn()"><a ui-sref="favorites">My Favorites</a></li>
          <li ng-show="isLoggedIn()"><a ui-sref="collections">My Collections</a></li>
          <li ng-show="isLoggedIn()"><a ui-sref="create">Create</a> </li>
          <li ng-show="isLoggedIn()"><a ui-sref="settings">Settings</a> </li>
          <!-- <li ng-show="isLoggedIn()"><a ng-click="logout()">Sign Out</a></li> -->
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>