#search {
    margin-top: 20px;
}
#search input {
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: 300;
    /*color: #ffffff;*/
    float: left;
    padding: 10px;
    background-color: rgba(0,0,0,.15);    
}
